* {
    box-sizing: border-box;
}

html, body {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #626262;
}

.border {
    border: 1px solid black;
}

a {
    color: #363636;
    text-decoration: none;
    background-color: transparent;
}
  
a:hover {
    color: #25E6C8;
}

.bg-dark {
   background: #333333;
   color: #ffffff; 
}

.bg-light {
    background: #f7f7f7;
    color: #333333; 
}

.bg-gray {
    background-color: #DEDEDE;

}



.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.80rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;

}

.btn-green {
    color: #ffffff;
    background-color: #25E6C8;
    font-weight: bold;
    margin-top: 1.4rem;
    

}

.btn-green:hover {
    cursor: pointer;
    background-color: #2BAAEC;
}



.collapse:not(.show) {
    display: none;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.navbar-top {
    border-bottom: 1px solid #707070;
}

.navbar, .navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar .container, .navbar-top .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.navbar-top .container {
    font-size: 0.8rem;
}

.navbar-top .container .hours {
    color:#626262;
}

.navbar-top .container .hours i {
    color: #2BAAEC;
    margin-right: 0.5rem;
    font-size: 1.2em;
}

.navbar-top .container .socialmedia a {
    margin: 0 0.5rem;
    
}

.navbar-brand {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    margin-right: 1rem;  
}

.navbar-brand img {
    height: 3rem;
    margin-top: 0.5rem;
}


.navbar-toggler {
    font-size: 2.5rem;
    color:#2BAAEC;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-collapse {
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    
}

.nav-link {
    padding: 0;
    text-decoration: none;
}



#showcase .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    
    align-items: center;
}

#showcase .container img {
    height: 500px;
    margin-top: 1rem;
    
    
}

#showcase .container .content-box {
    align-self: center;
    color: #363636;
    font-weight: 300;
}

.content-box .content h1 {
    font-size: 3.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    
}

.content-box .content p {
    font-size: 0.9rem;
}




.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

#appointment {
    background-color: #DEDEDE;
}

.overlay {
    opacity: 80%;
    background-color: #2BAAEC;
}

.center-content {
    display: block;
}


footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #F3FBFF;
    
    


}










@media (min-width: 768px) {
    .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }
    
    .collapse:not(.show) {
        display: flex;
    }

    .container {
        max-width: 720px;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


